Prosody 0.10 does not allow client@server.com JID format

When you connect to prosody 0.10, you cannot use 

```
$client = new JAXL(array(
        'jid' => 'username@server.com',
        'pass' => 'my_password',
    ));
```
You need to change it to this format:

```
$client = new JAXL(array(
        'jid' => 'username',
        'host' => 'server.com',
        'pass' => 'my_password',
    ));
```

the examples in the documentation should be updated accordingly.


FWIW, I was looking into the issue in the prosody MUC. This is what we saw. JAXL would send as "simple user name" (cf. [RFC 6120, Section 6.3.7](https://tools.ietf.org/html/rfc6120#section-6.3.7)) the full bare JID instead of only the localpart. While this appears to have worked in the past, it doesn't anymore.

The root cause is https://github.com/jaxl/JAXL/blob/27aa43c4600b05809779428843d8d51db6ce6e0d/src/JAXL/jaxl.php#L685 I think. There one should only pass the localpart of the JID instead of the full bare JID.